<!DOCTYPE html>
<html>
  <head>
    <title>LogMon</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    	var index = 0;
    	var lineNum = 0;
    	var limit = 200;
    	var socket = io.connect('/');
    	socket.on('appendLog', function(data) {
    		lineNum++;
    		index++;
    		var message = data.message;
    		if(!data.meta) message += ' ' + JSON.stringify(data.meta);
    		var line = lineNum + ' : <em>' + data.level + '</em>' + ' ' + '<font color=\'' +
    					getColor(data.level) + '\'>' + message + '</font>';
    		log_list.innerHTML += line + '<br />';
    		window.scrollBy(0, screen.availHeight);
    		
    		if(index > limit) {
    			index = 0;
    			log_list.innerHTML = '<font color=\'gray\'>Deprecated old logs...</font><br />';
    			window.scrollTop();
    		}
    	});
    	
    	function getColor(level) {
    		var color = 'blue';
    		switch(level) {
    		case 'error':
    			color = 'red';
    			break;
    		case 'debug':
    			color = 'green';
    			break;
    		case 'warning':
    			color = 'orange';
    			break;
    		default:
    			color = 'blue';
    			break;
    		}
    		
    		return color;
    	}
	</script>
  </head>
  <body>
  	<h2><strong>LogMon</strong></h2>
  	<div id="log_list"></div>
  </body>
</html>